{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        hi {{ user.username }}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
    {% else %}
        <p>no estas registrado</p>
        <a href="{% url 'login' %}">log In</a>
    {% endif %}
    
    {% for publication in publication_list %}
        <h2><a href="{% url 'post_detail' publication.pk %}">{{ publication.title }}</a></h2>
        <p>{{ publication.author }}</p>
    {% endfor %}
{% endblock content %}